@font-face {
    font-family: 'fantasy';
    src: url('../Luminari-Regular.woff');
}

* {
    font-family: 'fantasy';
    font-size: 16px;
}

button {
    font-family: 'fantasy';
}

#settlementName {
    font-size: 40px;
    border: none;
}

.component {
    margin-left: 1rem;
    width: 40%;
}

.compScore {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.SPBuyBtn {
    border-radius: 1rem;
    height: 22px;
    font-size: 11px;
    font-weight: 700;
    margin-left: .2rem
}

.scoreBox {
    display: flex;
    justify-content: space-around;
}

#surBox>div, #safBox>div, #econBox>div {
    margin-top: .25rem;
}

#surBox, #safBox, #econBox {
    padding: 1rem;
    height: 27%
}

#surBox {
    background-color: rgba(200,25,25,.3);
}

#safBox {
    background-color: rgba(25,25,200,.3);
}

#econBox {
    background-color: rgba(25,200,25,.3);
}

.taxRow {
    box-sizing: border-box;
    padding-left: .5rem;
    display: flex;
    align-items: center;
    height: 47.325px;
}

#taxBox {
    height: 100%;
    max-height: 100%;
    border-bottom: 2px solid black;
}

#taxBox>div{
    border: 1px solid black;
    height: 10%;
}

#taxBox>div>div {
    font-size: 15px;
}

#taxBox>div>div>div {
    font-size: 15px;
}
.taxLabel {
    padding: .5rem 0;    
    display: flex;
    width: 50%;    
}

.taxValue {
    padding: .5rem 0;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.taxChngBtn {
    width: 25%;
    font-size: 16px;
}

#buySell {
    display: flex;
    justify-content: space-around;
}

#buyMode, #sellMode {
    border: none;
    background: white;
    width: 50%;
    height: 47.3px;
}

#buyMode.buybuy {
    background: rgba(25,200,25,.3);
    color: rgba(0,100,0);
}

#buyMode.buysell {
    background: rgba(50,50,50,.3);
    color: rgba(0,100,0,.5);
}

#sellMode.sellbuy {
    background: rgba(50,50,50,.3);
    color: rgba(100,0,0,.5);
}

#sellMode.sellsell {
    background: rgba(200,25,25,.3);
    color: rgba(100,0,0,1)
}

#shopWrapper.buy {
    background: rgba(25,200,25,.1)
}

#shopWrapper.sell {
    background: rgba(200,25,25,.1)
}

#buyBox {
    max-height: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#buyBox>div {
    box-sizing: border-box;

}

.shopRow {
    display: flex;
    justify-content: start;
    box-sizing: border-box;
    height: 43.4px;
    border: 6px solid rgba(255,219,152);

}

.shopLabel {
    font-size: 16px;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bsBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: .5rem;
    box-sizing: border-box;
    
}

.bsBox>div {
    font-size: 16px;
}

.shopBtn {
    background: none;
    border: none;
    font-size: 16px;
}

.bsRow {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 47.325px;
    border-top: 4px solid rgba(255,219,152);
    border-bottom: 4px solid rgba(255,219,152);
}

.bsRow>div {
    font-size: 16px;
}

#projectManagement {
    max-height: 100%;
    border-bottom: 2px solid black;
}

#shopCXBtn {
    font-size: 16px;
    width: 25%;
    height: 100%;
}

#prodAvailBox {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

#prodAvailBox>div {
    font-size: 18px
}

#newProjBtn {
    font-size: 16px;
    width: 50%;
}

#projectBox {
    padding: .25rem;
    overflow-y: auto;
}

.eventRow {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(255,165,0,.5);
    border-radius: .5rem;
    margin: .5rem 0;
    padding: .2rem .2rem 0 .2rem;
    align-items: flex-start;
}

.expandBtn {
    font-size: 21px;
    border: none;
    background: none;
    width: 5%;
}

.eventTitle {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.durationBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
       
}

.durationBox>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
}

.workerBox {
    display: flex;
    margin-left: 10%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: .5rem;

}

.changeWorkerBtn {
    height: 20px;
    font-size: 14px;
    border: none;
    background: none;
}

.workerBox>div {
    font-size: 14px;
}

.eventImpactBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eventImpactBox>div>div {
    font-size: 14px;
    overflow-x: hidden;
}

.endBtn {
    height: 25px;
    font-size: 14px;
    border-radius: 1rem;
}

.descBox {
    display: block;
    flex-direction: column;
    
}

.descBox.hidden {
    display: none;
}

#taxBox, #buyBox, #projectManagement {
    height: 452px;
}